<div class="container-fluid p-2">
    <div class="form-group row" [formGroup]="requestForm">
        <div class="form-group col-md-2">
            <label for="inputIncome" class="sr-only">Income</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">R</div>
                </div>
                <input type="number" class="form-control" id="inputIncome" placeholder="Income" formControlName="income" required>
            </div>
        </div>
        <div class="form-group col-md">
            <select class="form-control" id="incomeFrequency" formControlName="frequency">
                <option value="MONTHLY">Monthly</option>
                <option value="YEARLY">Yearly</option>
            </select>
        </div>
        <div class="form-group col-md">
            <select class="form-control" id="yearInput" formControlName="taxYearId">
                <option *ngFor="let taxYear of taxYears" [value]="taxYear.id">{{taxYear.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-1">
            <label for="inputAge" class="sr-only">Age</label>
            <div class="input-group">
                <input type="number" class="form-control" id="inputAge" placeholder="Age" formControlName="age">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="inputMembers" class="sr-only">Age</label>
            <div class="input-group">
                <input type="number" class="form-control" id="inputMembers" placeholder="Medaid members" formControlName="medicalAidMembers">
            </div>
        </div>
        <button type="submit" class="btn btn-success col-md-2" (click)="onSubmitClicked()">
            <i class="bi bi-cash"></i>
            Calculate
        </button>
    </div>
    <div *ngIf="requestForm.invalid && showValidationError" class="alert alert-danger m-md-1" role="alert">
        Required fields: Income and age
    </div>
    <div *ngFor="let errorMessage of errorMessages" class="alert alert-danger m-md-1" role="alert">
        {{errorMessage}}
    </div>

    <table class="table table-active">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Month</th>
            <th scope="col">Year</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><i class="bi bi-circle-fill" style="color: black"></i>
                Gross Pay
            </th>
            <td>{{ (taxCalcMonthly?.grossPay | number:'1.2-2') || " - "}}</td>
            <td>{{ (taxCalcYearly?.grossPay | number:'1.2-2') || " - "}}</td>
        </tr>
        <tr>
            <th scope="row"><i class="bi bi-circle-fill" style="color: #f39c12"></i>
                PAYE
            </th>
            <td>{{ (taxCalcMonthly?.paye | number:'1.2-2') || " - "}}</td>
            <td>{{ (taxCalcYearly?.paye | number:'1.2-2') || " - "}}</td>
        </tr>
        <tr>
            <th scope="row"><i class="bi bi-circle-fill" style="color: #a30000"></i>
                Credits
            </th>
            <td>{{ (taxCalcMonthly?.taxCredits | number:'1.2-2') || " - "}}</td>
            <td>{{ (taxCalcYearly?.taxCredits | number:'1.2-2') || " - "}}</td>
        </tr>
        <tr>
            <th scope="row"><i class="bi bi-circle-fill" style="color: #a39300"></i>
                PAYE After Credits
            </th>
            <td>{{ (taxCalcMonthly?.payeAfterCredits | number:'1.2-2') || " - "}}</td>
            <td>{{ (taxCalcYearly?.payeAfterCredits | number:'1.2-2') || " - "}}</td>
        </tr>
        <tr>
            <th scope="row"><i class="bi bi-circle-fill" style="color: green"></i>
                Take Home Pay
            </th>
            <td><b>{{ (taxCalcMonthly?.netPay | number:'1.2-2') || " - "}}</b></td>
            <td><b>{{ (taxCalcYearly?.netPay | number:'1.2-2') || " - "}}</b></td>
        </tr>
        </tbody>
    </table>
</div>